<html>
    <head>
        <title>Kokkilokki</title>
    </head>

    <body>
        <h1>Kokkilokki</h1>
        <h2>Lisää resepti (unfinished)</h2>
        <form action="/luoresepti" method="post">
            <p>
                Kirjoita otsikko:
                <input type="text" name="otsikko">
            </p>

            <p>Kirjoita lyhyen selityksen: </p>
            <p>
                Luettele tarvittavia välineitä:
                <input type="text" name="equipment"/>
            </p>
            <p>
                Luettele tarvittavia aineita:
                <input type="text" name="ingredients"/>
            </p>

            <h3>Kauan kestää?</h3>
            <p>Valmistusaika:</p>
            <p>Tunteja:<input type="number" name="preptimeh" min="0" max="24"></p>
            <p>Minuutteja:<input type="number" name="preptimet" min="1" max="59"></p>
            <p>Keittoaika:</p>
            <p>Tunteja:<input type="number" name="cooktimeh" min="0" max="24"></p>
            <p>Minuutteja:<input type="number" name="cooktimet" min="1" max="59"></p>
            <p>Kirjoita resepti:</p>
            <textarea name="recipetext" rows="10" cols="100" maxlength="5000"></textarea>
            <input type="submit" value="Luo resepti">
        </form>
    </body>
</html>