<html>
    <head>
        <title>Kokkilokki</title>
    </head>

    <body>
        <h1>Kokkilokki</h1>
        <form action="file:///home/xthxthx/Downloads/haku.html" method="post">
            <p>
                Etsi:
                <input type="text" name="Hae reseptejä">
            </p>
            <input type="submit" value="Hae">
        </form>
        <h2>Hakutulokset</h2>
        <ul>
            {% for i in searched %}
            <li>{{ i }}</li>
            {% endfor %}
        </ul>
    </body>
</html>