<html>
    <head>
        <title>Log In</title>
    </head>

    <body>
        <h1>Kokkilokki</h1>
        <h2>Sisäänkirjautuminen</h2>
        <h3>Tervetuloa!</h3>
        <h4>Ole hyvä ja kirjaudu sisään.</h4>
        <form action="file:///home/xthxthx/Downloads/main.html" method="post">
            <p>
                Käyttäjätunnus:
                <input type="text" name="Username">
                <br></br>
                Salasana:
                <input type="text" name="Password">
            </p>
            <input type="submit" value="Log in">
        </form>
        <p>Tee uusi tili</p>
    </body>
</html>