<html>
    <head>
        <title>Kokkilokki</title>
    </head>

    <body>
        <h1>Kokkilokki</h1>
        <h2>Profiili</h2>
        <h4>Sinun reseptit</h4>
        <ul>
            {% for i in recipes %}
            <li>{{ i }}</li>
            {% endfor %}
        </ul>
        <h4>Sinun blogit</h4>
        <ul>
            {% for j in blogs %}
            <li>{{ j }}</li>
            {% endfor %}
        </ul>
        <h4>Sinun arvostelut</h4>
        <ul>
            {% for k in reviews %}
            <li>{{ k }}</li>
            {% endfor %}
        </ul>
        <h4>Sinun kommentit</h4>
        <ul>
            {% for m in comments %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
    </body>
</html>