<html>
    <head>
        <title>Kokkilokki</title>
    </head>

    <body>
        <h1>Kokkilokki</h1>
        <h2>Lisää resepti (unfinished)</h2>
        <p>Tähän pitäisi tulla tapa lisätä lisäämään askeleita, aineksia, tarvikkeita, tarvittava aika ruuan tekemiseen jne., mutta nyt ei ole valmiina.</p>
        <p>Ainoastaan nyt voi antaa reseptille otsikon sekä rekistöröidä reseptin tietokantaan.</p>
        <form action="file:///home/xthxthx/Downloads/profiili.html" method="post">
            <p>
                Kirjoita otsikko:
                <input type="text" name="Reseptin otsikko">
            </p>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>