<html>
    <head>
        <title>Create account</title>
    </head>

    <body>
        <h1><a href="/">Kokkilokki</a></h1>
        <h2>Uusi tili</h2>
        <h3>Tervetuloa kokkilokkiin!</h3>
        <h4>Ole hyvä ja tee uusi tili.</h4>
        <form action="/register" method="post">
            <p>
                Luo käyttäjätunnus: 
                <input type="text" name="username_new" maxlength="20">
                <br></br>
                Luo salasana: 
                <input type="password" name="password_new" maxlength="200">
                <br></br>
                Kirjoita salasana uudestaan: 
                <input type="password" name="password_new2" maxlength="200">
            </p>
            <input type="submit" value="Create account">
        </form>
        <p style="color:red;">{{ i }}</p>
    </body>
</html>